/* Add your custom styles here */
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 5rem;
    text-shadow: 0 0 15px #fff000;
    color: #00ffff;
    font-family: 'Delicious handrawn', cursive;
    animation: tittle 1s infinite;
}

@keyframes tittle {
    50% {
        text-shadow: 0 0 15px #00ffff;
        color: #fff000
    }
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(63,106,106);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100px;
    max-height: 100px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

#video_background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
}

#video_background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
